* {
    margin: 0;
    padding: 0;
}

main {
    background-color: rgb(236, 191, 191);
    color: rgb(37, 37, 37);
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}

header,
footer {
    background-color: white;
}

h1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
}

img {
    display: block;
    height: 400px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

ul {
    padding-left: 40px;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(0, 0, 0)
}

p {
    text-align: center;
    font-size: 30px;
  }

.socials {
    text-align: center;
    padding-top: 20px;
}

.card {
  width: 50%;
  margin: 40px auto;
  border: 5px solid gray;
  box-shadow: 5px 10px #888888;
  background-color: white;
}